<html>

<head>
<title>OYAK</title>
    <!-- Internet Explorer fix, forces IE8 into newest possible rendering
         engine even if it's on an intranet. This has to be defined before any
         script/style tags. -->
    <meta content="IE=edge" http-equiv="X-UA-Compatible"> 

<link type="text/css" href="css/base.css" rel="Stylesheet" />	
<link type="text/css" href="css/style.css" rel="Stylesheet" />	
<link type="text/css" href="css/redmond/jquery-ui-1.8.22.custom.css" rel="Stylesheet" />	
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.8.22.custom.min.js"></script>


<link type="text/css" href="css/jquery.dataTables_themeroller.css" rel="Stylesheet" />	
<script type="text/javascript" src="js/jquery.hotkeys.js" ></script>		
<script type="text/javascript" src="js/jquery.dataTables.min.js" ></script>
<script type="text/javascript" src="js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="js/functions.js"></script>
<script type="text/javascript" src="js/jquery.contextMenu.js"></script>		


</head>
