<html>

<head>
<title>OYAK</title>
<style type="text/css">
body,td,input
{
color: #000000;
font-size: 12px;
font-family: Verdana;
}

input,select,textarea
{
color: #000000;
font-size: 12px;
font-family: Verdana;
}


{
color: #000000;
font-size: 12px;
font-family: Verdana;
text-decoration: underline;
}

a:hover
{
color: #000000;
font-size: 12px;
font-family: Verdana;
text-decoration: underline;
}
</style>
</head>
<body bgcolor="#ffffff">

<table border="0" align="center" width="770">
   <tr>
      <td colspan="16" align="center"><hr size="1" color="#000000"><a href="/index.php">Oyak v {{ oyak_version }}</a></td>
   </tr>
   <tr>
      <td colspan="16" align="center"><hr size="1" color="#000000"></td>
   </tr>
   <tr>
      <td width="12%" align="center" valign="top">Etiquettes<BR>
                                     <a href="/barcode/index.php?id_cat=1">lister</a></td>
      <td width="12%" align="center" valign="top">Clients<BR>
                                     <a href="/clients/">lister</a></td>
      <td width="12%" align="center" valign="top">Fournisseurs<BR>
	                           <a href="/fournisseurs/">lister</a></td>
      <td width="12%" align="center" valign="top"> Produits<BR>
	                             <a href="/produits/">lister</a><BR>
                                     <a href="/produits/check.php">verifier</a></td>
      <td width="12%" align="center" valign="top">Vendeurs<BR><a href="/vendeurs/">lister</a></td>
      <td width="12%" align="center" valign="top"> Commandes 
                                      <a href="/print/commandes/">lister</a><br>
                                      <a href="/print/tests/">tester</a></td>
     <td width="12%" align="center" valign="top"> Administrer<BR>
     <a href="/admin/">gerer</a> <BR>
     <a href="/admin/params/">options</a> <BR>
     
			</td>
   </tr>
   <tr>
      <td colspan="16" align="center"><hr size="1" color="#000000"></td>
   </tr>
</table>

<br>
