<?xml version="1.0"?><reponse><message>---NEWBLOC---entete---CONTENT--- <table    align='left' border='1' cellpadding='0' cellspacing='0' width='100%' ><tbody><tr> <td colspan='25' align='center'>  <div id='titre' style='float: left; text-align: left;' > </div> <div id='message' > {{ date }}</div><input type='hidden' id='machine' value='bgq'><input type='hidden' id='access' value='ssh'> </td> </tr> 
</tbody></table> <BR />---NEWBLOC---titre---CONTENT---{{ titre }}---NEWBLOC---corps---CONTENT---<duv> <table  context='jobs' id='jobsbgq' class='tablet' align='left' border='1' cellpadding='0' cellspacing='0' width='100%'><thead>
  <tr>
    {% for nb,key in colonnes.items %}
    <th>{{ key.name }}</th>
    {% endfor%}
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  {% for nb,valeur in valeurs.items %}
  <tr>
    <td> {{ valeur|safe|escape }} </td>
    <td><a href="#null" onclick="javascript:if(confirm('Etes-vous sUr de vouloir supprimer ce fournisseur ?')) document.location.replace('index.php?action=delete&id_fournisseur=$id');">Supprimer</a> &nbsp; <a href="modifier_fournisseur.php?id_fournisseur=$id">Modifier</a></td>
  </tr>
  {% endfor %}
  </tbody>
</table></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></div>---NEWBLOC---table---CONTENT---jobsbgq---NEWBLOC---data---CONTENT---512:512---NEWBLOC---</message></reponse> 
