<?xml version="1.0"?><reponse><message>---NEWBLOC---entete---CONTENT--- <table    align='left' border='1' cellpadding='0' cellspacing='0' width='100%' ><tbody><tr> <td colspan='25' align='center'>  <div id='titre' style='float: left; text-align: left;' > </div> <div id='message' > {{ date }}</div><input type='hidden' id='machine' value='bgq'><input type='hidden' id='access' value='ssh'> </td> </tr> 
</tbody></table> <BR />---NEWBLOC---titre---CONTENT---{{ titre }}---NEWBLOC---corps---CONTENT---<duv> <table  context='jobs' id='jobsbgq' class='tablet' align='left' border='1' cellpadding='0' cellspacing='0' width='100%'><thead>
  <tr>
    {% for nb,key in colonnes.items %}
    <th>{{ key.name }}</th>
    {% endfor%}
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  {% for nb,valeur in valeurs.items %}
  <tr>
    <td> {{ valeur|safe|escape }} </td>
    <td><a href="#null" onclick="javascript:if(confirm('Etes-vous sUr de vouloir supprimer ce fournisseur ?')) document.location.replace('index.php?action=delete&id_fournisseur=$id');">Supprimer</a> &nbsp; <a href="modifier_fournisseur.php?id_fournisseur=$id">Modifier</a></td>
  </tr>
  {% endfor %}
  </tbody>

  <table border="0" cellpadding="2" cellspacing="0">
    <tr>
    <td bgcolor="#99CCCC" colspan=6 align=center>  <b> imprimer les encours </b> </td> </tr> 
    <tr >
    <td> tous (<a xref="../traite.php&dest=screen&no_print=1">ecran</a> <a href="../traite.php">imprimante</a>)</td> </tr> <tr>
      <td>     <a href="../factures/traite.php">factures </a></td>
      <td> </td>
      <td> <a href="../../barcode/latex_barcode.php?action=file">etiquettes  </a> 
      <td> <a href="../impression/traite.php">autres documents   </a> </td>
  </tr>
  <tr><td><br></td></tr>
  <tr></tr>
  <tr>
    <td bgcolor="#99CCCC" colspan=6 align=center>  <b> tester des impressions specifiques</b> </td> </tr> 

<?php 
$files2test=array();

# fichier en test
$testing_files=array_merge(glob("./*/*")); 
if ($testing_files) {
  $waiting_files=array();
  while ($file=array_pop($testing_files)) {
    array_push($waiting_files,"../tests/"."$file");
  }
  $files2test=array_merge($files2test,$waiting_files);
 }
//print_r($files2test);

# factures en attente
$waiting_factures=glob("/facprint/*");
if ($waiting_factures) {
  $files2test=array_merge($files2test,$waiting_factures);
 }
# impression generale en attente
$waiting_factures=glob("/impprint/*");
if ($waiting_factures) {
  $files2test=array_merge($files2test,$waiting_factures);
 }
//print_r($files2test); 

$new_line=1;
$nb=0;
$nb_per_line=1;
while ($file=array_pop($files2test)) {
  if (preg_match("/~$/",$file)==0 and preg_match("/.svn/",$file)==0) {
    if (strpos($file,"fac/")>-1) { $chunk="fac";}
    if (strpos($file,"facprint/")>-1) { $chunk="fac";}
    if (strpos($file,"imp/")>-1) { $chunk="imp";}
    if (strpos($file,"impprint/")>-1) { $chunk="imp";}
    $file_to_print = "--".$chunk."=$file";
    $file=str_replace("../","",$file);
    $file=str_replace("./","",$file);
    if ($new_line) { print "<tr bgcolor=\"#ffffff\">"; $new_line=0; }
    print "<td bgcolor=\"#ffffff\"><a href='../$file'>$file</a></td>";
    print "<td> <a href='../traite.php?dest=screen&file=$file_to_print&no_print=1'>ecran</a> 
                <a href='../traite.php?dest=screen&file=$file_to_print&no_print=1&debug=1'>+c</a> 
                <a href='../traite.php?dest=print&file=$file_to_print'>imprimante</a> 
                <a href='../traite.php?dest=print&file=$file_to_print'>+c</a> 
            </td>";
    $nb=$nb+1;
    if ($nb>$nb_per_line) {
        print "</tr>";
	$new_line=1;
	$nb=0;
	}
    else {
        print "      <td> &nbsp; &nbsp;</td>";
    }
  }
}
if ($nb) {print"</tr>";}
print "</table>";  

?> 


</table></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></BR></div>---NEWBLOC---table---CONTENT---jobsbgq---NEWBLOC---data---CONTENT---512:512---NEWBLOC---</message></reponse> 
